* {
	box-sizing: border-box;
	//border: green solid 1px;
}
:root {
	--theme: rgba(58, 122, 231, 0);
	--theme-rgb: 40,36,36;
	--theme-dark: rgba(24, 86, 193, 0);
	--theme-dark-rgb: 40,36,36;
}
.color-chroma {
  repeating-background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.global-cont {
	background: #121212;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: Roboto, sans-serif;
}
.main-cont {
	background: rgba(255,255,255,0.02);
	width: calc(100vw - 40px);
	height: calc(100vh - 40px);

	display: flex;
	flex-direction: column;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 30px);
	background: rgba(255,255,255,0.02);
	height: min-content;
	margin: 15px;

	color: var(--theme);
	transition-duration: 0.5s;
}
.header-count {
	margin-right: 10px;
}
.header-logo {
	display: flex;
	flex-wrap: row;
}
.logo-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px;
	width: 50px;

	font-size: 30px;
}
.logo-cont svg {
	width: 100%;
	height: 100%;
}
.header span:not(.logo-cont) {
	margin: 15px 10px;
	font-size: 30px;
	font-weight: 900;
	vertical-align: center;
}
.below-header {
	flex-grow: 1;
	margin: 0 15px 15px 15px;

	display: flex;
}
.sidebar {
	background: rgba(255,255,255,0.02);
	width: 20vw;
	margin-right: 15px;

	max-height: calc(100vh - 157px);
	overflow-y: auto;
}
.chat-cont {
	flex-grow: 1;
	
	display: flex;
	flex-flow: column;
}
.chat {
	background: rgba(255,255,255,0.02);
	flex-grow: 1;
	margin-bottom: 15px;

	max-height: calc(100vh - 232px);
	overflow-y: auto;

	scroll-behavior: smooth;
}
.input-cont {
	background: rgba(255,255,255,0.02);
	height: 60px;

	display: flex;
	align-items: center;
}
.input-cont i {
	margin: 15px;
	font-size: 40px;
	vertical-align: middle;
	transition-duration: 0.5s;
	cursor: pointer;
	color: var(--theme);
}
.input-cont i:hover {
	color: var(--theme-dark);
}
#chat-input {
	flex-grow: 1;
	margin: 7px 0 7px 0;
	background: rgba(255,255,255,0.02);
	border: none;

	color: rgba(255,255,255,0.69);
	font-size: 20px;
	padding: 10px;
}
#chat-input::placeholder {
	color: rgba(255,255,255,0.18);
	font-size: 20px;
}
.sidebar-customization {
	background: rgba(255,255,255,0.02);
	margin: 15px;
	padding: 15px;
}
.sidebar-cust-sub {
	color: rgba(255,255,255,0.15);
	font-weight: 600;
	font-size: 20px;
}
.sc-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	font-weight: 700;
	overflow: none;
}
.sc-inner {
	margin-top: 15px;
	position: relative;
	top: 0%;
	transition: all 0.5s linear;
	visibility: visible;
	overflow: hidden;
}
.sc-title span {
	color: var(--theme);
	font-size: 25px;

	transition-duration: 0.5s;
}
.sc-inner span {
	margin-top: 15px;
}
.sc-inner input {
	width: 100%;
	background: rgba(255,255,255,0.02);
	border: 1.5px solid var(--theme);
	border-radius: 5px;
	margin-top: 3px;
	margin-bottom: 10px;
	
	color: rgba(255,255,255,0.35);
	font-size: 15px;
	padding: 5px;
}
.sc-inner input::placeholder {
	color: rgba(255,255,255,0.18);
}
.sc-title i {
	color: rgba(255, 255, 255, 0.4);
	vertical-align: center;
}
.sidebar-themes {
	font-size: 40px;
}
.sidebar-themes i {
	cursor: pointer;
	transition-duration: 0.5s;
	margin: 0 2px;
}
.sidebar-themes #theme-blue {
	color: rgb(58, 122, 231);
}
.sidebar-themes #theme-purple {
	color: rgb(136, 58, 231);
}
.sidebar-themes #theme-pink {
	color: rgb(225, 58, 231);
}
.sidebar-themes #theme-red {
	color: rgb(231, 58, 58);
}
.sidebar-themes #theme-orange {
	color: rgb(231, 139, 58);
}
.sidebar-themes #theme-yellow {
	color: rgb(230, 208, 67);
}
.sidebar-themes #theme-green {
	color: rgb(86, 196, 59);
}
.sidebar-selected {
	text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

.sidebar-contact {
	background: rgba(255,255,255,0.02);
	margin: 15px;
	padding: 15px;
}
.sm-title {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	align-items: center;

	font-weight: 700;
}
.sm-inner {
	top: 0%;
	transition: all 0.5s linear;
	visibility: visible;
	overflow: hidden;
}
.sm-title span {
	color: rgba(var(--theme-rgb), 0.8);
	transition-duration: 0.5s;
	font-size: 25px;
}
.sm-inner textarea {
	width: 100%;
	background: rgba(255,255,255,0.02);
	border: none;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 150px;
	resize: none;
	
	color: rgba(255,255,255,0.35);
	font-size: 18px;
	padding: 5px;

	font-family: Roboto, sans-serif;
}
.sm-inner textarea::placeholder {
	color: rgba(255,255,255,0.18);
}
.sm-title i {
	color: rgba(255, 255, 255, 0.4);
	vertical-align: middle;
}
.contact-send {
	color: white;
	font-size: 20px;

	display: flex;
	flex-flow: row-reverse;
}
.contact-send button {
	padding: 8px;
	font-size: 20px;
	background: var(--theme);
	cursor: pointer;
	transition-duration: 0.5s;
	color: rgba(0,0,0,0.75);
	font-weight: 500;
	border: none;
}
.contact-send button:hover {
	background: var(--theme-dark);
}

.chat::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.chat::-webkit-scrollbar
{
  width: 8px;
	transition-duration: 0.5s;
}

.chat::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--theme);
	transition-duration: 0.5s;
}

.sidebar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.sidebar::-webkit-scrollbar
{
  width: 8px;
	transition-duration: 0.5s;
}

.sidebar::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--theme);
	transition-duration: 0.5s;
}

a {
	color: var(--theme);
	transition-duration: 0.5s;
	text-decoration: none;
}
a:hover {
	color: var(--theme-dark);
}

.sidebar-disconnect {
	background: rgba(255,255,255,0.02);
	margin: 20px;
	padding: 20px;
	font-size: 25px;

	font-weight: 700;

	color: rgba(228, 62, 59, 0.4);
	cursor: pointer;
	transition-duration: 0.5s;
}
.sidebar-disconnect:hover {
	color: rgba(255,255,255,0.4);
	background-color: rgba(228, 62, 59, 0.4);
}
.message {
	margin: 5px 2px;
	display: flex;
	//overflow: none;
}
.message i:not(.tooltip i) {
	margin: 9px;
	font-size: 30px;
	width: 30px;
	height: 30px;
	margin-right: 15px;
}
.message-name {
	display: flex;
}
.message-author {
	font-size: 18px;
	font-weight: 600;
	margin-right: 8px;
}
.message-time {
	color: rgba(255, 255, 255, 0.3);
	display: flex;
	align-items: center;
}
.message-content {
	color: rgba(255, 255, 255, 0.8);
	font-size: 18px;
	overflow-wrap: break-word;

	width: calc(80vw - 150px);
	word-wrap: break-word;
	overflow-x: hidden;
}
.header .fa-bars {
	display: none;
}

.tooltip-wrapper {
	position: relative;
	padding-right: 10px;
}
.tooltip {
	cursor: default;
	font-size: 18px;
	width: fit-content;
}
.tooltip:hover ~ * {
	position: absolute;
}

.tooltip::before,
.tooltip::after {
	--scale: 0;
	--arrow-size: 5px;
	position: absolute;
	top: -.25rem;
	left: 50%;
	transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
	transition: 0.2s transform;
	transform-origin: bottom center;
}

.tooltip::before {
	--translate-y: calc(-100% - var(--arrow-size));
	position: absolute;
	content: attr(data-tooltip);
	color: rgba(0,0,0,0.9);
	padding: .5rem;
	border-radius: .3rem;
	text-align: center;
	width: max-content;
	background: var(--color);
	box-shadow: 3px 3px 3px #121212;
}

.tooltip:hover::before,
.tooltip:hover::after {
	--scale: 1;
}

.tooltip::after {
	--translate-y: calc(-1 * var(--arrow-size));
	content: '';
	border: var(--arrow-size) solid transparent;
	border-top-color: var(--color);
	transform-origin: top;
}
	
@media (max-width: 1400px) {
	.sidebar {
		width: 25vw;
	}
	.message-content {
		width: calc(75vw - 150px);
		word-wrap: break-word;
		overflow-x: hidden;
	}
}
@media (max-width: 1100px) {
	.sidebar {
		width: 30vw;
	}
	.message-content {
		width: calc(70vw - 150px);
		word-wrap: break-word;
		overflow-x: hidden;
	}
}
@media (max-width: 1070px) {
	.sidebar {
		display: none;
	}
	.header .fa-bars {
		display: inline-block;
	}
	.header .logo-svg {
		display: none;
	}
	.message-content {
		width: calc(100vw - 150px);
		word-wrap: break-word;
		overflow-x: hidden;
	}
}